*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

/* header */
.text-warning{
  color: #FD5D14 !important;
}
.bg-warning{
  background-color: #FD5D14 !important;
}
.bg-color{
  background-color: #040F28 !important;
}
.nav-bg{
  background-color: #040F28; 
  background: radial-gradient(circle, #334770 10%, transparent 10%); 
  background-size: 4px 4px; 
  /* height: 100%; */
}
.nav-a:hover{
  color: #FD5D14 !important;
}
.nav-btn:hover{
  background-color: #ff8b07 !important;
  color: #040F28 !important;
}
.ff-roboto {
  font-family: "Roboto", sans-serif;
}
.ff-OpenSans{
  font-family: "Open Sans", sans-serif;;
}
.navbar-nav .active{
  color: #FD5D14 !important;
}
.navbar-nav{
  letter-spacing: 1px !important;
}
.navbar-toggler {
  border-color: #FD5D14 !important;
}
.bg-carousel1{
  height: 30vh;
  background: linear-gradient(rgba(4, 15, 42,0.7),rgba(4, 15, 42,0.7)), url(../Images/carousel-1.jpg);
  background-size: cover;
  
}
.bg-carousel2{
  height: 30vh;
  background: linear-gradient(rgba(4, 15, 42,0.7),rgba(4, 15, 42,0.7)), url(../Images/carousel-2.jpg);
  background-size: cover;
}
.slider-content h1{
  font-size: 25px;
}
.sec1-bg{
  background-color: #ffff; 
  background: radial-gradient(circle, #040F28 10%, transparent 35%); 
  background-size: 3px 3px; 
  height: 100%;
}
.bg-light{
  background-color: #F4F6F8 !important;
}
.service-icon {
  font-size: 3rem;
}
.border-warning{
  border-color: #FD5D14 !important;
}
.bg-dream{
  width: 205px;
  height: 15vh;
  background-size: cover !important;
  background-position: center;
}
.bg-dream1{
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../Images/portfolio-1.jpg);
}
.bg-dream2{
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../Images/portfolio-2.jpg);
}
.bg-dream3{
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../Images/portfolio-3.jpg);
}
/* .text-decoration-underline{
  text-decoration: underline 2px solid #FD5D14 !important;
  text-underline-offset: 5px;
} */

.sec4-g{
    --bs-gutter-y: 5rem;
    --bs-gutter-x: 3rem;
}
.sec-4-top{
  top: 65%;
 } 
 .sec-4-top h4{
  font-size: 1.2rem ;
 }
 .icon:hover{
  color: #F4F6F8  !important;
  padding: 2px 4px;
  background-color: #FD5D14 !important;
 }
.dream:hover .dream-img{
  transform: scale(1.2);
}
.dream-img{
transition: transform .6s ease;
}

@media(min-width:768px){
  .bg-carousel1{
    height: 70vh;
  }
  .bg-carousel2{
    height: 70vh;
  }
  .slider-content h1{
    font-size: calc(1.4rem + 3vw);
  }
  .bg-dream {
    width: 178px;
  }
  .sec-4-top{
    top: 80%;
   } 
   .sec4-g{
    --bs-gutter-y: 6rem;
    --bs-gutter-x: 3rem;
  }
  .sec-4-top h4 {
    font-size: calc(1.275rem + .3vw);
  }
  .p-fs5{
    font-size: 17px !important;
  }
}
@media(min-width:992px){
  .bg-carousel1{
    height: 100vh;
  }
  .bg-carousel2{
    height: 100vh;
  }
  .bg-dream {
    width: 205px;
  }
  .sec-4-top{
    top: 80%;
   } 
   .testimonial-div{
    margin-left: -50px;
   }
   .footer{
    float: right;
    width: 75% !important;
   }
}
@media(min-width:1200px)
{
 .sec-4-top{
  top: 76%;
 } 
 .sec4-g{
  --bs-gutter-y: 8rem;
  --bs-gutter-x: 3rem;
}
.p-fs5{
  font-size: 18px !important;
}

/* .footer{
  float: right !important; 
  border-radius: 0px 0px 0 100px;
}
   */
  
}
@media(min-width:1400px)
{
 .sec-4-top{
  top: 80%;
 } 
 .p-fs5{
  font-size: 19px !important;
}
.footer{
  width: 50% !important;
}
}